
.galleri {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 1012px;
    flex-wrap: wrap;
}

.kitten-card {
    width: 300px;
    min-width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    
}

img {
    width: 100%;
    border-radius: 5px;
}

h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.kitten-card p{
    color: #555;
    margin-top: 5px;
    text-align: center;
}

.kotyata h1{
    font-size: 50px;
    text-align: start;
  
  }

  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
      display: block;
    }
  }